#!/usr/bin/make -f

export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@

# After DEBIAN/ is created by dh_installdeb, fix perms to 0755
override_dh_installdeb:
	dh_installdeb
	find debian -type d -name DEBIAN -exec chmod 0755 {} \;

# Belt-and-suspenders: fix perms again right before building the .deb
override_dh_builddeb:
	find debian -type d -name DEBIAN -exec chmod 0755 {} \;
	dh_builddeb

